<tr id="<%= dom_id manager %>">
  <td scope="row"><%=manager.name%></td>
  <td scope="row">
    <% if manager.department%>
      <%=manager.department.name%></td>
  <% else%>
    Nenhum Departamento Associado
  <%end%>
</tr>