<p style="color: green"><%= notice %></p>

<h1>Setores</h1>

<div id="sectors">
  <% @sectors.each do |sector| %>
    <%= render sector %>
    <p>
      <%= link_to "Ver Setores", sector %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Setor", new_sector_path %>
