<p style="color: green"><%= notice %></p>

<h1>Departmentos</h1>

<div id="departments">
  <% @departments.each do |department| %>
    <%= render department %>
    <p>
      <%= link_to "Ver departamento", department %>
    </p>
  <% end %>
</div>

<%= link_to "Novo departmento", new_department_path %>
