<div id="<%= dom_id search %>">
  <p>
    <strong>Name:</strong>
    <%= search.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= search.active %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= search.year %>
  </p>

</div>
