<div class="container text-dark text-center">
  <p class="display-9 mb-0">
    Pegmatita
  </p>
  <small class="text-dark-50">&copy;Copyright 2024 Pegmatita todos os direitos reservados
  </small>
</div>