<div class="container-fluid flex-grow-1 d-flex flex-column">
  <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="col-md-5 p-lg-5 mx-auto">
      <h1 class="display-4 font-weight-normal">Pesquisa de Engajamento</h1>
      <p class="lead font-weight-normal">Um sistema de pesquisa de engajamento para sua empresa, com foco em medir a satisfação dos funcionários. </p>
      <a class="btn btn-outline-secondary" href="#">Realize a Pesquisa Deste Ano</a>
    </div>
  </div>
</div>
<section class="d-flex flex-column justify-content-start min-vh-50 py-3 py-xl-5">
  
  <div class="container text-center">
    <h5 class="text-dark mt-3 mb-4 fw text-uppercase">Top 3 Setores com Melhor Resultado da Última Pesquisa</h5>
    <div class="row g-4 justify-content-center">
      <!-- Counter item -->
      <div class="col-sm-6 col-xl-3">
        <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
          <span class="display-6 lh-1 text-warning mb-0"><i class="fas fa-tv"></i></span>
          <div class="ms-4 h6 fw-normal mb-0">
            <div class="d-flex">
              <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0"></h5>
              <span class="mb-0 h5"></span>
            </div>
            <p class="mb-0">Vendas</p>
          </div>
        </div>
      </div>
      <!-- Counter item -->
      <div class="col-sm-6 col-xl-3">
        <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
          <span class="display-6 lh-1 text-warning mb-0"><i class="fas fa-tv"></i></span>
          <div class="ms-4 h6 fw-normal mb-0">
            <div class="d-flex">
              <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0"></h5>
              <span class="mb-0 h5"></span>
            </div>
            <p class="mb-0">Compras</p>
          </div>
        </div>
      </div>
      <!-- Counter item -->
      <div class="col-sm-6 col-xl-3">
        <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
          <span class="display-6 lh-1 text-warning mb-0"><i class="fas fa-tv"></i></span>
          <div class="ms-4 h6 fw-normal mb-0">
            <div class="d-flex">
              <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0"></h5>
              <span class="mb-0 h5"></span>
            </div>
            <p class="mb-0">Tecnologia da Informação</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h5 class="text-dark  mt-5 mb-4 fw text-uppercase">Resultado dos Últimos 3 Anos</h5>
    <div class="row g-4 justify-content-center">
      <!-- Counter item -->
      <div class="col-sm-6 col-xl-3">
        <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
          <span class="display-6 lh-1 text-warning mb-0"><i class="fas fa-tv"></i></span>
          <div class="ms-4 h6 fw-normal mb-0">
            <div class="d-flex">
              <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0"></h5>
              <span class="mb-0 h5"></span>
            </div>
            <p class="mb-0">Vendas</p>
          </div>
        </div>
      </div>
      <!-- Counter item -->
      <div class="col-sm-6 col-xl-3">
        <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
          <span class="display-6 lh-1 text-warning mb-0"><i class="fas fa-tv"></i></span>
          <div class="ms-4 h6 fw-normal mb-0">
            <div class="d-flex">
              <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0"></h5>
              <span class="mb-0 h5"></span>
            </div>
            <p class="mb-0">Compras</p>
          </div>
        </div>
      </div>
      <!-- Counter item -->
      <div class="col-sm-6 col-xl-3">
        <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
          <span class="display-6 lh-1 text-warning mb-0"><i class="fas fa-tv"></i></span>
          <div class="ms-4 h6 fw-normal mb-0">
            <div class="d-flex">
              <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0"></h5>
              <span class="mb-0 h5"></span>
            </div>
            <p class="mb-0">Tecnologia da Informação</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
