<h1>Bem Vindo a Pesquisa de Engajamento</h1>

<h3>Cadastro de Informações</h3>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <%= link_to "Setores", sectors_path %>
    </li>
    <li>
        <%= link_to "Gerentes", managers_path %>
    </li>


</ul>
<p>Você está em ambiente de <strong> <%= ambiente_rails %> </strong> </p>
